/*Support semantic markup elements in older browsers*/
section, article, nav, aside, header, footer, main {
  display:block;
}

img {
    max-width: 100%
}

  .banner {
    width: 30%;
    height: auto;
}